spring:
  datasource:
    url: jdbc:mysql://localhost:3306/unibrain?useSSL=false&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
      password: 123456
      database: 0
  elasticsearch:
    uris: http://localhost:9200
    connection-timeout: 5s
    socket-timeout: 30s
  rabbitmq:
    listener:
      simple:
        acknowledge-mode: auto

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
  mapper-locations: classpath*:/mapper/**/*.xml
  type-handlers-package: com.baomidou.mybatisplus.extension.handlers

logging:
  charset:
    console: utf-8
  level:
    org.springframework.data.elasticsearch: debug
    com.bin.mapper: debug
    com.bin: debug

langchain4j:
  community:
    dashscope:
      chat-model:
        api-key: ${DASHSCOPE_API_KEY}
        model-name: qwen-plus

jwt:
  secret: a1B2c3D4e5F6g7H8i9J0k1L2m3N4o5P6q7R8s9T0u1V2w3X4y5Z6
  expiration: 60000
